@model List<string>
<script>
    $(function () {
        $("#SearchTerm").autocomplete({
            source: @Json.Serialize(Model)
        });
    });

</script>

<form asp-controller="Search" asp-action="DoSearch" method="get">
    <div class="row">
        <div class="ui-widget form-outline col-10 pr-0 ">
            <input id="SearchTerm" name="SearchTerm" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <button for="SearchTerm" id="search-button" type="submit" class="btn btn-outline-dark">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>